$background-dark: #015383;
$background-bright: #F4F4F4;

$white: #ffffff;
$grey: #4A4A4A;
$blue: #1C89D0;

@mixin wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Verdana,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    background-color: $background-bright;
    flex: 1;
}

.header,
.footer {
    background-color: $background-dark;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 5rem;
    display: flex;
    align-items: center;

    &__wrapper {
        @include wrapper;
        display: flex;
    }

    &__heading {
        font-size: 1.8rem;
        color: $white;
        font-weight: 600;
    }

    &__navigation {
        margin: 0 0 0 auto;
    }
}

.navigation {
    display: flex;
    align-items: center;
    
    &__link {
        text-decoration: none;
        font-size: 1.4rem;
        color: $white;
        font-weight: 500;

        transition: opacity 0.3s;

        &:hover,
        &:focus {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }

        &:not(:first-child) {
            margin-left: 2rem;
        }
    }
}

.footer {
    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__developer {
        text-decoration: none;
        font-size: 1.4rem;
        color: $white;
        font-weight: 500;
        transition: opacity 0.3s;

        &:hover,
        &:focus {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }
}

.theme,
.participants,
.plan,
.presentation {
    &__wrapper {
        @include wrapper;
        display: flex;
        flex-direction: column;
    } 

    &__heading {
        padding: 2rem 0 1rem 0;
        font-size: 1.6rem;
        font-weight: 800;
        color: $blue;
    }
}

.theme {
    &__descripted-text {
        margin: 0.5rem 0 0.5rem 0;
        display: flex;
        flex-direction: column;
    }

    &__subheading {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba($blue, 0.9);
        margin-bottom: 0.3rem;
    }

    &__planned {
        margin-top: 0.5rem;
    }
}

.descripted-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: $grey;

    &__description {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba($blue, 0.9);
        margin-bottom: 0.3rem;
    }
}

.planned {    
    padding-left: 2rem;

    &__item {
        font-size: 1.4rem;
        font-weight: 500;
        color: $grey;


        &:not(:first-child) {
            margin-top: 0.7rem;
        }
    }

    &__inner-list {
        padding-left: 2rem;
        margin-top: 0.5rem;
    }
}

.participants {
    &__list {
        list-style: none;
    }

    &__item {
        font-size: 1.4rem;
        color: $grey;

        &:not(:first-child) {
            margin-top: 0.7rem;
        }
    }
}

.plan {
    &__list-heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba($blue, 0.9);
        margin-bottom: 0.3rem;
    }

    &__item {
        margin-top: 0.7rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: $grey;
    }

    &__time {
        color: $blue;
        font-weight: 800;
    }

    &__total {
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 600;
        color: $grey;
    }
}

.presentation {
    &__video {
        margin-bottom: 2rem;
    }
}