*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: #F4F4F4;
  flex: 1;
}

.header,
.footer {
  background-color: #015383;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
}
.header__wrapper,
.footer__wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.header__heading,
.footer__heading {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 600;
}
.header__navigation,
.footer__navigation {
  margin: 0 0 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 500;
  transition: opacity 0.3s;
}
.navigation__link:hover, .navigation__link:focus {
  opacity: 0.6;
}
.navigation__link:active {
  opacity: 0.3;
}
.navigation__link:not(:first-child) {
  margin-left: 2rem;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
}
.footer__developer {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 500;
  transition: opacity 0.3s;
}
.footer__developer:hover, .footer__developer:focus {
  opacity: 0.6;
}
.footer__developer:active {
  opacity: 0.3;
}

.theme__wrapper,
.participants__wrapper,
.plan__wrapper,
.presentation__wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.theme__heading,
.participants__heading,
.plan__heading,
.presentation__heading {
  padding: 2rem 0 1rem 0;
  font-size: 1.6rem;
  font-weight: 800;
  color: #1C89D0;
}

.theme__descripted-text {
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.theme__subheading {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(28, 137, 208, 0.9);
  margin-bottom: 0.3rem;
}
.theme__planned {
  margin-top: 0.5rem;
}

.descripted-text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4A4A4A;
}
.descripted-text__description {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(28, 137, 208, 0.9);
  margin-bottom: 0.3rem;
}

.planned {
  padding-left: 2rem;
}
.planned__item {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4A4A4A;
}
.planned__item:not(:first-child) {
  margin-top: 0.7rem;
}
.planned__inner-list {
  padding-left: 2rem;
  margin-top: 0.5rem;
}

.participants__list {
  list-style: none;
}
.participants__item {
  font-size: 1.4rem;
  color: #4A4A4A;
}
.participants__item:not(:first-child) {
  margin-top: 0.7rem;
}

.plan__list-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(28, 137, 208, 0.9);
  margin-bottom: 0.3rem;
}
.plan__item {
  margin-top: 0.7rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #4A4A4A;
}
.plan__time {
  color: #1C89D0;
  font-weight: 800;
}
.plan__total {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #4A4A4A;
}

.presentation__video {
  margin-bottom: 2rem;
}/*# sourceMappingURL=style.css.map */